<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avinash.whatsapplite">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="QUICK TALK"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsAppLite">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GroupChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChatDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>